<!DOCTYPE html>
<html>
<head>
    <title>Gender-Age-ID</title>
    <meta charset="UTF-8">
    <link href="https://cursedprograms.github.io/cursedentertainment/cursedFavicon.png" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Gender-Age-ID</h1>
    <div class="content">
    <img src="{{ url_for('video_feed') }}" alt="Webcam Feed">
</div>
    <div class="icons_container">
        <iframe src="https://cursedprograms.github.io/cursedentertainment/iframes/social-media-icons/social-media-icons.html"
                frameborder="0"></iframe>
    </div> 
    <footer id="dynamicFooter"></footer>
    <script src="https://cursedprograms.github.io/cursedentertainment/scripts/footer.js"></script>
</body>
</html>